<!DOCTYPE html>
<html>
<head>
  <title>Pattana</title>
  <%= stylesheet_link_tag    "pattana/application", media: "all" %>
  <%= javascript_include_tag "pattana/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
