<ul class="nav tabs-vertical">
  <li class="<%= nav_active?('docs/countries') ? 'active' : ''  %>">
    <a href="/docs/api/v1/countries">
      <i class="fa-globe visible-xs"></i>
      <span class="hidden-xs">Countries</span>
    </a>
  </li>
  <li class="<%= nav_active?('docs/regions') ? 'active' : ''  %>">
    <a href="/docs/api/v1/regions">
      <i class="fa-globe visible-xs"></i>
      <span class="hidden-xs">Regions</span>
    </a>
  </li>
  <li class="<%= nav_active?('docs/cities_in_a_country') ? 'active' : ''  %>">
    <a href="/docs/api/v1/cities_in_a_country">
      <i class="fa-globe visible-xs"></i>
      <span class="hidden-xs">Cities (in a Country)</span>
    </a>
  </li>
  <li class="<%= nav_active?('docs/cities_in_a_region') ? 'active' : ''  %>">
    <a href="/docs/api/v1/cities_in_a_region">
      <i class="fa-globe visible-xs"></i>
      <span class="hidden-xs">Cities (in a Region)</span>
    </a>
  </li>
</ul>

<style type="text/css">
  .panel-positive h4.panel-title a { color: #68b828 !important; }
  .panel-negative h4.panel-title a { color: #cc3f44 !important; }
</style>